html,body, #root{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #f0f0f0; 
}

.counter-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 20px 30px;
    background: #111;
    border-radius: 12px;

}

.digit-box {
    min-width: 70px; /*asi no se aplasta la caja con digitos mas grandes*/
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(49, 42, 42);
    color: white;
    font-size: 100px;
    font-weight: bold;
    border-radius: 8px;
}

.icon-box {
  background: #05c515; 
  min-width: 80px; /* un pelín más ancha */
  font-size: 42px;
}